
Event activity summary.

<table>
  <tr><th>Action</th><th>Occurs</th></tr>
  <% @types.each do |type| %>
    <tr>
      <td><%= type["action"] %></td><td><%= type["count"].to_i %></td>
    </tr>
  <% end %>
</table>
