<% content_for :head do %> 
<%= auto_discovery_link_tag(:atom) %>
<% end %>
<section>
  <h1>All Known Cerdentials</h1>
  <table class="activity">
    <thead>
    <tr>
      <th>User DN</th>
    </tr>
    </thead>
    <tbody>
      <% @creds.each do |cred| %>
      <tr>
	<td><%= link_to "Details", cred %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
