<section>
  <h1>Current Activity </h1>
  <table id="activity" class="activity">
    <% @events.each do |n| %>
    <tr>
      <td><%= n.server %></td><td><%= n.peer %></td><td><%= n.updated_at %></td>
    </tr>
    <% end %>
  </table>
</section>
