<section>
  <h1>Log in Via</h1>
  <dl>
    <dt>Google</dt>
    <dd><%= link_to "Click Here", "/auth/google" %></dd>
    <dt>Yahoo</dt>
    <dd><%= link_to "Click Here", "/auth/yahoo" %></dd>
  </dl>
</section>
